<div class="container">
  <div class="center jumbotron">
    <% unless @topics.present? && @comments.present? %>
    <p>ヒットしませんでした</p>
    <% end %>
    <% if @topics.present? %>
    <h2>トピック</h2>
      <% @topics.each do |topic| %>
      <h6><%= topic.category.name %></h6>
      <%= link_to topic.name, topic_path(topic), class:"btn btn-light btn-lg btn-block text-left"%>
      <%= topic.updated_at %>
      <% end %>
    <% end %>
    <% if @comments.present? %>
    <h2>コメント</h2>
      <% @comments.each do |c| %>
      <h6><%= c.topic.category.name %></h6>
      <%= link_to c.comment, topic_path(c.topic), class:"btn btn-light btn-lg btn-block text-left"%>
      <%= c.updated_at %>
      <% end %>
    <% end %>
  </div>
</div>